/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* Header */
header {
    background-color: #0077b6;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Navigation */
nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

nav a:hover {
    color: yellow;
}

/* Hero Section */
.hero {
background: url("beach.jpg") center/cover no-repeat;    height: 500px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.4);
    background-blend-mode: darken;
    text-align: center;
}

.hero h2 {
    font-size: 45px;
    margin-bottom: 15px;
}

.hero p {
    font-size: 20px;
    margin-bottom: 20px;
}

/* Button */
.btn {
    background: orange;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background: darkorange;
}

/* Features */
.features {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 50px;
    flex-wrap: wrap;
}

/* Cards */
.card {
    background: white;
    width: 300px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.card:hover {
    transform: translateY(-5px);
    transition: 0.3s;
}

/* Footer */
footer {
    background: #0077b6;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Responsive */
@media (max-width:768px) {

    header {
        flex-direction: column;
    }

    nav {
        margin-top: 15px;
    }

    nav a {
        display: block;
        margin: 10px 0;
    }

    .hero h2 {
        font-size: 30px;
    }

    .features {
        flex-direction: column;
        align-items: center;
    }
}